h1 {
    text-align: center;
    color:  #4F10AD;
}
h2 {
    font-size: 25px;
    color: lightslategrey;
}
h3 {
    font-size: 20px;
    color: lightslategray;
}
h4 {
    font-size: 18px;
    color: lightslategray;
}
p {
    margin: 0;
    font-size: 18px;
}
span {
    font-size: 16px;
}
