@font-face {
    font-family: 'Fortuna Gothic FlorishC';
    src: local('Fortuna Gothic FlorishC'), local('FortunaGothicFlorishC'), url('fortunagothicflorishc.woff2') format('woff2'), url('fortunagothicflorishc.woff') format('woff'), url('fortunagothicflorishc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
