body {
    width: 100%;
}

.container {
    max-width: 1200px;
    font-family: 'League Spartan', sans-serif, Arial, Helvetica, sans-serif;
}

.one {
    background-color: #F8F8F8;
}

.nav {
    display: flex;
    padding-top: 100px;
    margin-left: 133px;
    gap: 60px;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 45px;
}

h1 {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 250px;
    font-weight: 300;
    line-height: 230px;
    color: #272727;
}

.info {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
}

button {
    width: 278px;
    height: 82px;
    background-color: #161515;
    text-align: center;
    color: white;
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 29px;

}

.btn_coast {
    display: flex;
    width: 420px;
    height: 82px;
    background-color: #FFFFFF;
    align-items: center;
}

.coast {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 60px;
    margin: 0 auto;
}


.popular {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 45px;
    margin-top: 43px;
}

h2 {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 81px;
}

.all_watches {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.box {
    width: 417px;
    height: 630px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch_main {
    width: 286px;
    height: 410px;
}

.models {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

.sc {
    margin: 0 auto;
}

.model_of_watch {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 29px;
    padding-top: 67px;

}

.info_about_watch {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    max-width: 531px;
    padding-top: 20px;
}

.second {
    width: 496px;
}

.img2 {
    width: 500px;
    height: 500px;
}

.some_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

.product {
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 60px;
}

.border {
    border: 1px solid #707070;
    width: 180px;
}

.detail {
    font-family: League Spartan;
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    max-width: 515px;
    padding: 50px;
}

.color {
    color: #BB8B5D;
    font-family: League Spartan;
    font-weight: bold;
    font-size: 24px;
    line-height: 41px;
}