.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}

.main {
  display: flex;
  gap: 30px;
}

.inner {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 30px;
  margin: 0 20px;
}

.text {
  width: 70%;
  margin: 20px;
  text-align: justify;
}

fieldset {
  border: none;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-start;
  background-color: #a23645;
  color: white;
  position: fixed;
  top: 0;
  width: 1400px;
  gap: 15px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}


.foto {
  background-color: rgb(233, 233, 233);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 770px;
}

.foto img {
  width: 320px;
}

table {
  margin: 10px;
  line-height: 2;
  text-align: justify;
}

.hv {
  background-color: #a23645;
  padding: 20px 20px;
}

a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
}

.hv:hover {
  background-color: #521b23;
}

.footer img {
  width: 150px;
  height: 200px;
}

@media screen and (max-width:1024px) {
  .foto {
    padding: 0 10px;
    margin-right: 20px;
    margin-left: 0;
  }

  .container {
    font-size: 15px;
  }

  .footer img {
    width: 120px;
    height: 170px;
  }
}

@media screen and (max-width:800px) {
  .text {
    margin-right: 0;
  }

  .footer img {
    width: 100px;
    height: 150px;
  }

  .footer {
    gap: 10px;
  }

  .foto>img {
    width: 250px;
    height: 350px;
  }

  .foto {
    height: 650px;
  }
}

@media screen and (max-width:600px) {
  .nav {
    width: auto;
    font-size: 14px;
    gap: 0;
  }

  a {
    padding: 10px 10px;
  }

  .text {
    font-size: 15px;
  }

  .foto img {
    width: 200px;
    padding: 10px;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}
@media (max-width:490px) {
  .main {
    flex-direction: column;
  }
  .text {
    width: 85%;
    font-size: 15px;
  }
  .foto {
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 ;
  }   
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    margin: 0 auto;
  }

  figure {
    width: 100px;
    height: 190px;
  }
  .hv {
    display: none;
  }
  .mobile {
    padding: 10px;
  }
  .nav {
    width: 100%;
  }
  .container {
    margin: 0 auto;
  }
}

@media (max-width:390px) {
  .main {
    flex-direction: column;
  }
  .text {
    width: 90%;
    font-size: 15px;
  }
  .foto {
    width: 90%;
    background-color: #fff;
  }
  .foto img {
    width: 400px;
  }
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
  }
  figure {
    width: 100px;
  }
  .hv {
    display: none;
  }
  .mobile {
    padding: 10px;
  }
  .nav {
    width: 100%;
  }
}