/* input[type="search"]::-ms-clear {
    display: none;
} */

/* label {
    display: none;
} */




/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

input {
    border: 1px solid black;
    padding: 5px 10px;
    color: red;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 100%;
}
label {
    color: rgb(189, 82, 82);
}

.input_password::placeholder {
    color: gray;
    font-size: 14px;
}

input::placeholder {
    color: gray;
    font-size: 15px;
} */





/* h1 {
    font-size: 25px;
}

.account {
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 10px;
}

input::placeholder {
    text-transform: uppercase;
    color: gray;
    font-size: 15px;
}

.button {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    color: black;
    background-color: white;
    font-size: large;
    text-transform: uppercase;
}
.button:active {
    color: white;
    background-color: black;
} */
